repos:
- repo: local
  hooks:
  - id: cspell
    name: cspell
    language: system
    entry: make
    args:
      - spell
    always_run: true
    stages:
      - commit
- repo: https://github.com/dnephin/pre-commit-golang
  rev: master
  hooks:
    - id: go-fmt
    - id: go-vet
    # - id: go-lint
    - id: go-imports
      exclude: ^.*zz_generated.*.go$
    - id: go-cyclo
      args: [-over=25]
    - id: validate-toml
    - id: no-go-testing
    - id: golangci-lint
    # - id: go-critic
    - id: go-unit-tests
    - id: go-build
    - id: go-mod-tidy
exclude: ^legacy/.*$