repos:
- repo: local
  hooks:
  - id: spellcheck
    name: spellcheck
    language: system
    entry: make
    args:
      - spellcheck
    always_run: true
    stages:
      - pre-commit
  - id: shellcheck
    name: shellcheck
    language: system
    entry: bash
    args:
    - -c
    - shopt -s globstar; shellcheck -x -e SC1091 -s bash test/**/*.sh
    always_run: true
    stages:
    - pre-commit
- repo: https://github.com/arkbriar/pre-commit-golang
  rev: master
  hooks:
    - id: go-fmt
    - id: go-vet
    # - id: go-lint
    - id: go-imports
      exclude: ^.*zz_generated.*.go$
    - id: go-cyclo
      args: [-over=27]
    - id: validate-toml
    - id: no-go-testing
    - id: golangci-lint
    # - id: go-critic
    - id: go-unit-tests
    - id: go-build
    - id: go-mod-tidy
exclude: ^legacy/.*$