apiVersion: v1
kind: ConfigMap
metadata:
  name: risingwave-customize-config
data:
  risingwave.toml: |-
    [server]
    heartbeat_interval = 1000

    [streaming]
    checkpoint_interval_ms = 100

    [storage]
    sstable_size_mb = 256
    block_size_kb = 16
    bloom_false_positive = 0.1
    share_buffers_sync_parallelism = 2
    shared_buffer_capacity_mb = 1024
    data_directory = "hummock_001_t"
    write_conflict_detection_enabled = true
    block_cache_capacity_mb = 256
    meta_cache_capacity_mb = 64
    disable_remote_compactor = false
    enable_local_spill = true
    local_object_store = "tempdisk"
---
apiVersion: risingwave.risingwavelabs.com/v1alpha1
kind: RisingWave
metadata:
  name: risingwave-customize-config
spec:
  configuration:
    configMap:
      name: risingwave-customize-config
      key: risingwave.toml
  metaStore:
    memory: true
  stateStore:
    memory: true
  image: risingwavelabs/risingwave:v2.4.2
  components:
    meta:
      nodeGroups:
      - replicas: 1
        name: ""
        template:
          spec:
            volumes:
            - name: heap
              emptyDir:
                sizeLimit: 1Gi
            volumeMounts:
            - mountPath: /heap
              name: heap
            env:
            - name: MALLOC_CONF
              value: prof:true,lg_prof_interval:-1,lg_prof_sample:20,prof_prefix:/heap/
            - name: RW_HEAP_PROFILING_DIR
              value: /heap
            resources:
              limits:
                cpu: 1
                memory: 2Gi
              requests:
                cpu: 1
                memory: 2Gi
    frontend:
      nodeGroups:
      - replicas: 1
        name: ""
        template:
          spec:
            resources:
              limits:
                cpu: 1
                memory: 2Gi
              requests:
                cpu: 1
                memory: 2Gi
    compute:
      nodeGroups:
      - replicas: 1
        name: ""
        template:
          spec:
            volumes:
            - name: heap
              emptyDir:
                sizeLimit: 1Gi
            volumeMounts:
            - mountPath: /heap
              name: heap
            env:
            - name: MALLOC_CONF
              value: prof:true,lg_prof_interval:-1,lg_prof_sample:20,prof_prefix:/heap/
            - name: RW_HEAP_PROFILING_DIR
              value: /heap
            resources:
              limits:
                cpu: 8
                memory: 32Gi # Memory limit will be set to `RW_TOTAL_MEMORY_BYTES`
              requests:
                cpu: 8
                memory: 32Gi
    compactor:
      nodeGroups:
      - replicas: 1
        name: ""
        template:
          spec:
            volumes:
            - name: heap
              emptyDir:
                sizeLimit: 1Gi
            volumeMounts:
            - mountPath: /heap
              name: heap
            env:
            - name: MALLOC_CONF
              value: prof:true,lg_prof_interval:-1,lg_prof_sample:20,prof_prefix:/heap/
            - name: RW_HEAP_PROFILING_DIR
              value: /heap
            resources:
              limits:
                cpu: 4
                memory: 8Gi
              requests:
                cpu: 4
                memory: 8Gi