apiVersion: risingwave.risingwavelabs.com/v1alpha1
kind: RisingWave
metadata:
  name: risingwave-in-memory
spec:
  metaStore:
    memory: true
  stateStore:
    memory: true
  image: risingwavelabs/risingwave:v2.3.0-rc.1
  components:
    meta:
      nodeGroups:
      - replicas: 1
        name: ""
        template:
          spec:
            resources:
              limits:
                cpu: 1
                memory: 2Gi
              requests:
                cpu: 1
                memory: 2Gi
    frontend:
      nodeGroups:
      - replicas: 1
        name: ""
        template:
          spec:
            resources:
              limits:
                cpu: 1
                memory: 2Gi
              requests:
                cpu: 1
                memory: 2Gi
    compute:
      nodeGroups:
      - replicas: 1
        name: ""
        template:
          spec:
            resources:
              limits:
                cpu: 8
                memory: 32Gi # Memory limit will be set to `RW_TOTAL_MEMORY_BYTES`
              requests:
                cpu: 8
                memory: 32Gi
    compactor:
      nodeGroups:
      - replicas: 1
        name: ""
        template:
          spec:
            resources:
              limits:
                cpu: 4
                memory: 8Gi
              requests:
                cpu: 4
                memory: 8Gi