apiVersion: v1
kind: Service
metadata:
  name: etcd
  labels:
    app: etcd
spec:
  clusterIP: None
  ports:
  - port: 2388
    name: client
  - port: 2389
    name: peer
  selector:
    app: etcd
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: etcd
  labels:
    app: etcd
spec:
  replicas: 1
  selector:
    matchLabels:
      app: etcd
  serviceName: etcd
  volumeClaimTemplates:
  - metadata:
      name: etcd-data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 2Gi
  persistentVolumeClaimRetentionPolicy:
    whenDeleted: Delete
    whenScaled: Retain
  template:
    metadata:
      labels:
        app: etcd
    spec:
      containers:
      - name: etcd
        image: quay.io/coreos/etcd:latest
        imagePullPolicy: IfNotPresent
        command:
        - /usr/local/bin/etcd
        args:
        - "--listen-client-urls"
        - "http://0.0.0.0:2388"
        - "--advertise-client-urls"
        - "http://etcd-0:2388"
        - "--listen-peer-urls"
        - "http://0.0.0.0:2389"
        - "--initial-advertise-peer-urls"
        - "http://etcd-0:2389"
        - "--listen-metrics-urls"
        - "http://0.0.0.0:2379"
        - "--name"
        - "etcd"
        - "--max-txn-ops"
        - "999999"
        - "--max-request-bytes"
        - "10485760"
        - "--auto-compaction-mode"
        - periodic
        - "--auto-compaction-retention"
        - 1m
        - "--snapshot-count"
        - "10000"
        - "--data-dir"
        - "/var/lib/etcd"
        env:
        - name: ALLOW_NONE_AUTHENTICATION
          value: "1"
        ports:
        - containerPort: 2389
          name: peer
          protocol: TCP
        - containerPort: 2388
          name: client
          protocol: TCP
        volumeMounts:
        - mountPath: /var/lib/etcd
          name: etcd-data
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: risingwave-data
  labels:
    app: risingwave
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
---
apiVersion: risingwave.risingwavelabs.com/v1alpha1
kind: RisingWave
metadata:
  name: risingwave
spec:
  image: ghcr.io/risingwavelabs/risingwave:v1.5.0
  metaStore:
    etcd:
      endpoint: etcd:2388
  stateStore:
    localDisk:
      root: /var/lib/risingwave/data
  components:
    meta:
      nodeGroups:
      - name: ""
        replicas: 1
        template:
          spec:
            volumes:
            - name: risingwave-data
              persistentVolumeClaim:
                claimName: risingwave-data
            volumeMounts:
            - mountPath: /var/lib/risingwave/data
              name: risingwave-data
            resources:
              limits:
                cpu: 1
                memory: 2Gi
              requests:
                cpu: 1
                memory: 2Gi
    frontend:
      nodeGroups:
      - name: ""
        replicas: 1
        template:
          spec:
            affinity:
              podAffinity:
                requiredDuringSchedulingIgnoredDuringExecution:
                - topologyKey: "kubernetes.io/hostname"
                  labelSelector:
                    matchLabels:
                      risingwave/component: meta
            resources:
              limits:
                cpu: 1
                memory: 2Gi
              requests:
                cpu: 1
                memory: 2Gi
    compute:
      nodeGroups:
      - name: ""
        replicas: 1
        template:
          spec:
            volumes:
            - name: risingwave-data
              persistentVolumeClaim:
                claimName: risingwave-data
            volumeMounts:
            - mountPath: /var/lib/risingwave/data
              name: risingwave-data
            affinity:
              podAffinity:
                requiredDuringSchedulingIgnoredDuringExecution:
                - topologyKey: "kubernetes.io/hostname"
                  labelSelector:
                    matchLabels:
                      risingwave/component: meta
            resources:
              limits:
                cpu: 8
                memory: 32Gi # Memory limit will be set to `RW_TOTAL_MEMORY_BYTES`
              requests:
                cpu: 8
                memory: 32Gi
    compactor:
      nodeGroups:
      - name: ""
        replicas: 1
        template:
          spec:
            volumes:
            - name: risingwave-data
              persistentVolumeClaim:
                claimName: risingwave-data
            volumeMounts:
            - mountPath: /var/lib/risingwave/data
              name: risingwave-data
            affinity:
              podAffinity:
                requiredDuringSchedulingIgnoredDuringExecution:
                - topologyKey: "kubernetes.io/hostname"
                  labelSelector:
                    matchLabels:
                      risingwave/component: meta
            resources:
              limits:
                cpu: 4
                memory: 8Gi
              requests:
                cpu: 4
                memory: 8Gi