apiVersion: risingwave.risingwavelabs.com/v1alpha1
kind: RisingWave
metadata:
  name: risingwave-standalone
spec:
  image: risingwavelabs/risingwave:v2.2.3
  enableStandaloneMode: true
  components:
    standalone:
      template:
        spec:
          resources:
            limits:
              cpu: 8
              memory: 32Gi