prometheus-node-exporter:
  hostRootFsMount:
    enabled: false

# Run `helm show values prometheus-community/kube-prometheus-stack` to get information about the below values
prometheus:
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false
  additionalServiceMonitors:
  - name: prometheus-service-monitor-rw-operator
    namespaceSelector: 
      matchNames:
      - risingwave-operator-system
    endpoints:
    - interval: 10s
      path: /metrics
      port: http
      scheme: https
      scrapeTimeout: 5s
      bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
      tlsConfig:
        caFile: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt # I think I can remove this
        insecureSkipVerify: true
    selector:
      matchLabels: 
        control-plane: controller-manager

grafana:
  dashboardProviders:
    rw-dashboardproviders.yaml:
      apiVersion: 1
      providers:
      - name: risingwave
        orgId: 1
        folder: RisingWave
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/risingwave
  dashboards:
    risingwave:
      risingwave-dashboard:
        url: https://raw.githubusercontent.com/risingwavelabs/risingwave-operator/main/monitoring/grafana/risingwave-dashboard.json
    go: 
      go-dashboard: 
        url: https://grafana.com/api/dashboards/6671/revisions/2/download