apiVersion: v1
kind: ConfigMap
metadata:
  name: compute-config
data:
  risingwave.toml: |-
    [ server ]
    heartbeat_interval = 1000

    [ streaming ]
    checkpoint_interval_ms = 100

    [ storage ]
    sstable_size_mb = 256
    block_size_kb = 16
    bloom_false_positive = 0.1
    share_buffers_sync_parallelism = 2
    shared_buffer_capacity_mb = 1024
    data_directory = "hummock_001_t"
    write_conflict_detection_enabled = true
    block_cache_capacity_mb = 256
    meta_cache_capacity_mb = 64
    disable_remote_compactor = false
    enable_local_spill = true
    local_object_store = "tempdisk"
---
apiVersion: risingwave.risingwavelabs.com/v1alpha1
kind: RisingWave
metadata:
  name: risingwave-customize-config
spec:
  configuration:
    configmap:
      name: compute-config
      key: risingwave.toml
  storages:
    meta:
      memory: true
    object:
      memory: true
  global:
    image: ghcr.io/risingwavelabs/risingwave:latest
    # image: public.ecr.aws/x5u3w5h6/risingwave-arm:latest
    imagePullPolicy: IfNotPresent
    resources:
      limits:
        cpu: 1
        memory: 1Gi
      requests:
        cpu: 100m
        memory: 100Mi
    replicas:
      meta: 1
      frontend: 1
      compute: 1
      compactor: 1