apiVersion: risingwave.risingwavelabs.com/v1alpha1
kind: RisingWave
metadata:
  name: sv-example
spec:
  image: risingwavelabs/risingwave:v2.3.0-rc.1
  components:
    meta:
      nodeGroups:
        - name: ""
          replicas: 1
    frontend:
      nodeGroups:
        - name: ""
          replicas: 1
    compute:
      nodeGroups:
        - name: ""
          replicas: 1
    compactor:
      nodeGroups:
        - name: ""
          replicas: 1
---
apiVersion: risingwave.risingwavelabs.com/v1alpha1
kind: RisingWaveScaleView
metadata:
  name: sv-example-frontend
spec:
  targetRef:
    name: sv-example
    component: frontend
  scalePolicy:
  - group: ''