apiVersion: risingwave.risingwavelabs.com/v1alpha1
kind: RisingWave
metadata:
  name: sv-example
spec:
  image: risingwavelabs/risingwave:v1.8.1
  components:
    meta:
      nodeGroups:
      - name: ""
        replicas: 1
    frontend:
      nodeGroups:
      - name: ""
        replicas: 1
    compute:
      nodeGroups:
      - name: ""
        replicas: 1
    compactor:
      nodeGroups:
      - name: normal
        replicas: 1
      - name: spot
        replicas: 0
---
apiVersion: risingwave.risingwavelabs.com/v1alpha1
kind: RisingWaveScaleView
metadata:
  name: sv-spot-compact
spec:
  targetRef:
    name: sv-spot
    component: compactor
  scalePolicy:
  - group: normal
    priority: 1
    maxReplicas: 2
  - group: spot